html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #353535;
}

.container {
    display: flex;
    border: 1px solid black;
    height: 350px;
    width: 500px;
    flex-wrap: wrap;
}

.squares {
    background-color: white;
    height: auto;
    flex: 0 0 auto;
    box-shadow: 0 0 0 0.1px black;
}
